  <div>
  <h1>TWEETページ</h1>
  <img src="/assets/header.jpg" class="logo_image">    
    <div class="container">
        <div class="row">
            <nav class="menu">
            <div class="col-md-12">
                <ul class="row_A">
                    <li class="col-sm-10 col-md-6"><h2> 日常のつぶやきを集めます。</h2></class></li>
                    <li class="col-sm-2 col-md-6" ><a class="btn" href="/blogs">一覧確認</a></li>
        
                </ul>
            </div>
            </nav>
            
            <nav class="menu">
            <div class="col-md-12">
                <ul class="row_B">
                    <li class="col-sm-10 col-md-6"><h2>つぶやきます。</h2></li>
                    <li class="col-sm-2 col-md-6"><a class="btn" href="/blogs/new">新規投稿</a></li>
                </ul>
            </div>
            </nav>
        </div>
    </div>
    <p>
  </div>
