<h3>ユーザー<%= @user.name %>のお気に入りページ</h3>


<p>メールアドレス：<%= @user.email %></p>
<h2>お気に入り</h2>
<% @user.favorite_blogs.each do |blog| %>
<ol>
    <li>タイトル：<%= blog.title %>内容：<%= blog.content %></li>
</ol>


<% end %>